VITE_TMDB_READ_API_KEY=...
VITE_OPENSEARCH_ENABLED=false
VITE_ALLOW_FEBBOX_KEY=true
VITE_FEBBOX_API_URL=https://pstream-backend.deezgames.workers.dev

# make sure the cors proxy url does NOT have a slash at the end
VITE_CORS_PROXY_URL=...

# make sure the domain does NOT have a slash at the end
VITE_APP_DOMAIN=http://localhost:5173
